/Skypro/2. Основы веб-разработки/12. Ошибки и продолжение работы с Flask/1 - 2/
/Skypro/1. Основы программирования/
/Skypro/2. Основы веб-разработки/10.Git Github Flask/
/Skypro/2. Основы веб-разработки/11. Командная строка и HTML/
/проверка.py
/Skypro/2. Основы веб-разработки/
/Skypro/3. Разработка API на Flask/
/venv/
/.idea/